* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color:#49B3FB;
    margin-top: 80px;
  }

  html, body {
    height: 100%;
  }

  table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

  td, th {
    padding: 3px;
    border: 1px solid black;
}

td {
  text-align: center;
}

  th {
    background: #b0e0e6; 
}
  
  .container {
    background-color:#E8F9EE;
    width:80%;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 105px;
  }

  .container h1 {
    color:#031126;
    text-shadow: #49B3FB 1px 1px;
    font-size: 26px;
    font-family: Merriweather;
    padding-top:20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .container h3 {
    color:#031126;
    font-size: 21px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }

.container h2, h5, strong{
  text-shadow: #49B3FB 1px 1px;
  font-size: 18px;
  font-family: Merriweather;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.container p {
  font-size: 18px;
  font-family: Merriweather;
  text-align: center;
  width: 100%;
}

.pull-right {
  text-align: center;
}
  
  .wrap_nav_conteiner {
    background:#E8F9EE;
    border-bottom-style:solid;
    border-bottom-width: 5px;
    border-bottom-color:#49B3FB; 
    height: 100px;
    width:100%;
    top:0;
    left: 0;
    z-index: 50;
    display:flex;
    position: fixed;
  }

  .nav_container {
    position: relative;
    width: 80%;
    height: 60px;
  }
  
  .nav_container li {
    display: inline;
    list-style-type:none;
  }
  
  .nav_container ul {
    margin-top: 40px;
    margin-left: 150px;
  }
  
  .nav_container a:hover {
    color: #49B3FB;
  }
  
  .nav_container a {
    color: #031126;
    font-size: 18px;
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Merriweather;
  }
  
  .nav_dental_log {
    margin-left: 80px;
    margin-top: 7px;
  }

  .nav_dental {
    margin: 30px 70px 0 100px;
    display: flex;
  }

  .nav_logo img {
    margin-top: 5px;
    margin-left: 50px;
  }

  #nav_toggle {
    display: none;
  }

  .nav_toggle {
    position: relative;
    display: none;
    border: 0;
    background: none;
  }

  .nav_toggle::before {
    content: 'МЕНЮ';
    color: #031126;
    font-size: 20px;
    font-weight: bold;
  }

  .nav_toggle label {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .nav_dental a:hover {
    color: #49B3FB;
  }
  
  .nav_dental a {
    color: #031126;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Merriweather;
    margin-left: 10px;
    margin-top: 7px;
  }
  
  .nav_general_box {
    display:flex;
  }
  
  .nav_general_box a:hover {
    color:#031126;
    text-decoration:underline;
  }
  
  .nav_general_box a {
    color:#49B3FB;
    font-size: 22px;
    font-weight: bold;
    font-family: Merriweather;
    text-decoration: none;
    text-transform: capitalize;
    margin: 30px 15px 30px  30px;
  }
  
  .nav_general_box span {
    color:#031126;
    font-size: 22px;
    font-weight: bold;
    font-family: Merriweather;
    text-decoration: none;
    text-transform: capitalize;
    margin: 30px 15px 30px  0;
  }
  
  .nav_div {
    color:#031126;
    font-size:22px;
    font-weight: 900;
    font-family: Merriweather;
    text-decoration: none;
    text-transform: capitalize;
    margin: 30px 15px 30px  0;
  }

  .nav_dental_profile a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
  }
  
  .line_bord_footer {
    border: none;
    background-color: #49B3FB;
    color: #49B3FB;
    height: 5px;
    width:100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 50px;

  }

  .gray_button_app {
    background-color: gray;
    border: none;
    color: white;
    margin-left: 10px;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 15px 32px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .green_button_app {
    background-color:#49B3FB;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button_app_ticket_a {
    color:#FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  .button_app_ticket {
    background-color:#49b3fb;
    border:none;
    color:white;
    margin-top:35px;
    margin-right: 20px;
    padding:15px 32px;
    border-radius:5px;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    width:350px;
  }

  .red_button_app {
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0 20px 0;
  }

  .delete_but {
    text-align: center;
  }

  .card-header h1{
    text-transform: capitalize;
    margin-bottom: 20px;
    /*margin-top: 20px;
    line-height: 70px;*/
  }

  .card-body {
    text-align: center;
  }

  .content_contacts_page {
    display: flex;
    justify-content:flex-start;
  }

  .app_container {
    text-align: center;
  }

  .app_container h5 {
    font-size: 33px;
    font-weight: bold;
  }

  .app_container textarea {
    color: #49B3FB;
    padding: 4px;
    border: 0;
    box-shadow: 0 0 15px 4px #49b3fb;
    border-radius: 5px;
    width: 50%;
    height: 100px;
  }

  .app_container input, select {
    color:#031126;
    padding: 4px;
    font-size: 18px;
    border: 0;
    box-shadow: 0 0 15px 4px #49b3fb;
    height: 40px;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .app_container p {
    color: #031126;
    font-size: 26px;
    margin-bottom: 20px;
    font-family:Merriweather;
  }

  .app_container span:hover {
    color:#031126;
  }

 .app_container span {
    font-size: 18px;
  }

  .h1 h1 {
    text-transform: capitalize;
    font-weight: bold;
    font-family: Merriweather;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 16px;
    text-shadow: #49B3FB 2px 2px;
    border-radius: 5px solid;
  }

  .h1 p {
    color: #031126;
    font-size: 16px;
    font-family: Merriweather;
    width: 445px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.wrap_class_row {
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  text-align: center;
}

.wrap_class_row2 {
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
}

.class_phone {
  margin-bottom: 50px;
}

.class_email {
  margin-bottom: 50px;
}

.class_time {
  text-align: center;
}

.content_contacts_page img {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.content_contacts_page {
  flex-direction: column;
}

.content_contacts_page p {
  text-align: left;
  font-size: 26px;
  font-weight: bold;
  font-family: Merriweather;
  text-align: center;
  margin-bottom: 20px;
}

.content_contacts_page span{
  font-size: 32px;
  font-weight: 600;
}

.img_contacts {
  margin-right: 50px;
  border: 3px solid #abecce;
  border-radius: 5px;
  box-shadow: 7px 7px 2px 1px #49B3FB;
}

  .btn_contacts {
    display: flex;
    padding-top: 50px;
    justify-content: center;
  }

  .header_container {
    display: flex;
    padding: 0;
  }

  .promo {
    margin-left: 50px;
    margin-top: 35px;
    
  }
  
  .promo h1 {
    color: #031126;
    text-shadow: #49B3FB 2px 1px;
    border-radius: 5px;
    width: 420px;
    font-size: 44px;
    line-height:46px;
    font-family: Merriweather;
    margin-top:7px;
    margin-left: 40px;
    font-weight: 600;
  }
  
  .promo p {
    color: #031126;
    margin-top: 25px;
    margin-left: 40px;
    font-size: 18px;
    font-family: Merriweather;
    font-weight: bold;
    text-align: justify;
    width: 420px;
    margin-right: 50px;
  }
  
  .promo_image {
    margin-top: 70px;
  }
  
  .promo_image_1 {
    border-radius: 35px;
    width: 85%;
    border: 3px solid #49B3FB;
    box-shadow:8px 8px 2px 1px #49B3FB;
  }
  
  .form_promo {
    margin-top: 20px;
    margin-left: 70px;
  }

  .errors_message {
    text-align: justify;
    background-color: rgb(252, 112, 112);
    box-shadow: 0 12px 12px 0;
    font-size: 18px;
    width: 70%;
    text-decoration:overline;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .message_success p {
    margin-bottom: 30px;
  }

  .message_success {
    text-align: justify;
    background-color: rgb(100, 202, 126);
    box-shadow: 0 12px 12px 0;
    font-size: 18px;
    height: 60px;
    width: 70%;
    margin-left: 150px;
    margin-top: 50px;
  }

  .message_success{
    color:#FFFFFF;
    font-size: 26px;
    list-style-type: none;
    text-align: center;
    padding-top: 10px;
    height: 100%;
  }

  .errors_message ul {
    list-style-type: none;
    text-align: center;
  }

  .section_consultation {
    background: #49B3FB;
    border:3px solid #abecce;
    box-shadow:8px 8px 2px 1px #49B3FB;
    border-radius: 20px;
    width:60%;
    height: 210px;
    margin-left: 205px;
    margin-bottom: 80px;
    margin-top: 70px;
    text-align: center;
  }
  
  .consultation_box h1 {
    color: #fff;
    text-transform: capitalize;
    font-size: 36px;
    margin-bottom: 15px;
  }
  
  .consultation_box span {
    color: #FFFFFF;
    font-size: 16px;
    font-family: Merriweather;
  }

  .button_free:hover {
    box-shadow: 0 20px 20px 0 #abecce;
    background-color: #1494a5;
    color: white;
  }

  .button_free {
    background: #49B3FB;
    color: #fff;
    width: 140px;
    height: 44px;
    font-size: 22px;
    font-weight: 700;
    margin-left: 20px;
    border-radius: 15px;
    border: 2px solid;
    padding-bottom: 2px;
  }

  .wrap-form {
    margin-top: 20px;
  }
  
  .form_box {
    margin-top: 16px;
  }

  .form_box input {
    min-height: 28px;
    margin-top: 25px;
    margin-left: 50px;
    padding:3px;
    margin-left: 20px;
    border:0;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #3b93f7;
    color: white;
  }

  .button {
    background: #49B3FB;
    width: 300px;
    height: 90px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 15px;
    border: 3px solid #abecce;
    box-shadow: 10px 10px 1px #49B3FB;
  }
  
  .button a:hover {
    color:aquamarine;
  }
  
  .button a {
    color:#fff;
    text-transform:uppercase;
    text-decoration: none;
    font-size: 24px;
    line-height: 110%;
    font-family: v;
  }
  
  .main_container {
    display: flex;
    padding-bottom: 60px;
    padding-left: 60px;
  }
  
  .about_image img {
    border-radius: 35px;
    border: 3px solid #49B3FB;
    box-shadow: 10px 10px 1px #49B3FB;
    width: 80%;
  }
  
  .about h3 {
    color: #031126;
    text-shadow: #49B3FB 2px 1px;
    border-radius: 5px;
    font-weight: 600;
    width: 405px;
    font-size: 30px;
    font-family:Merriweather;
    margin-top: 60px;
  }
  
  .about h6 {
    color: #031126;
    font-size: 14px;
    font-family:Merriweather;
    font-weight: bold;
    width: 350px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .about_box_content p {
    color: #031126;
    font-size: 12px;
    font-family: Merriweather;
    width: 300px;
    text-align: justify;
    margin-bottom: 8px;
  }
  
  .about_box_content h5 {
    color: #031126;
    font-size: 18px;
    margin-bottom: 8px;
    font-family: Merriweather;
  }
  
  .box_container {
    width: 50px;
    height: 50px;
    display: inline-flex;
    padding-top: 80px;
  }

  .dental_services_container h1 {
    text-shadow: #49B3FB 2px 1px;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Merriweather;
    font-size: 30px;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .dental_services_container p {
    color:#031126;
    font-size: 16px;
    font-family: Merriweather;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 40px;
    margin-left: 340px;
    width: 420px;
    align-items: center;
  }
  
  .img-container {
    display: flex;
    justify-content: space-around;
  }
  
  .box_1,
  .box_2,
  .box_3 {
    background: #abecce;
    border: 3px solid #49B3FB;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    vertical-align: middle;
    font-family: Merriweather;
    margin: 5px;
  }
  
  .box_1 p,
  .box_2 p,
  .box_3 p {
    color: #767679;
    font-size: 16px;
    font-family:Merriweather;
    text-align: justify;
  }
  
  .box_1 h2,
  .box_2 h2,
  .box_3 h2 {
    margin-left: 25px;
  }
  
  .icon_zub {
    width: 60px;
    height: 60px;
    margin-left: 25px;
    margin-top: 25px;
  }
  
  .team_professionals {
    margin-top: 75px;
    margin-bottom: 110px;
  }
  
  .section_team_professionals h1 {
    text-shadow: #49B3FB 2px 1px;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Merriweather;
    text-align: center;
    font-size: 30px;
    text-align: center;
  }
  
  .section_team_professionals p {
    color:#031126;
    font-size: 16px;
    font-family:Merriweather;
    font-weight: bold;
    width: 450px;
    text-align: justify;
    margin-top: 1px;
    margin-left: 350px;
    margin-bottom: 40px;
  }
  
  .image_doc {
    display: flex;
    justify-content: space-around;
    
  }
  
  .box_image_doc,
  .box_image_doc_1,
  .box_image_doc_2 {
    background-color: #49B3FB;
    border: 3px solid #abecce;
    box-shadow: 10px 18px 2px 1px #49B3FB;
    width: 300px;
    height: 380px;
    border-radius: 20px;
  }
  
  .box_image_doc img,
  .box_image_doc_1 img,
  .box_image_doc_2 img {
    background-color: #49B3FB;
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0 0;
  }
  
  .icon_box img {
    display: inline;
    width: 40px;
    height: 40px;
  }

  .icon_box_3 img,
  .icon_box_2 img {
    width: 40px;
    height: 40px;
  }
  
  .icon_box h2,
  .icon_box_2 h2,
  .icon_box_3 h2 {
    color:#031126;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    font-family: Merriweather;
  }
  
  .icon_box p {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 90px;
    font-family: Merriweather;
  }
  
  .icon_box_2 p {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-left:105px;
    font-family: Merriweather;
  }

  .icon_box_3 p {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 115px;
    font-family: Merriweather;
  }

  .image_steps_box img {
    float: right;
    margin: 0 0 5px 5px;
    border: 3px solid #49B3FB;
    box-shadow: 8px 8px 2px 1px #49B3FB;
    width: 400px;
    height: 400px;
    border-radius: 35px;
    margin-right: 130px;
  }

  .header_steps_container {
    margin-top: 80px;
  }

  .header_steps_container h3 {
    text-shadow: #49B3FB 2px 1px;
    border-radius: 5px;
    color: #031126;
    text-transform: capitalize;
    font-size: 30px;
    font-family: Merriweather;
  }
  
  .header_steps_container h6 {
    color:#031126;
    font-size: 14px;
    font-family: Merriweather;
    font-weight: bold;
    width: 350px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 150px;
  }

  .content_steps_box {
    text-align:left;
  }
  
  .content_steps_box h5 {
    color: #031126;
    font-size: 18px;
    text-transform: capitalize;
    font-family: Merriweather;
    margin-left: 30px;
    margin-top: 10px;
  }
  
  .content_steps_box p {
    color:#031126;
    font-size: 14px;
    font-family: Merriweather;
    font-weight: normal;
    width: 400px;
    text-align: justify;
    margin-left: 115px;
    margin-top: 10px;
  }
  
  .content_steps_box span {
    color:#031126;
    font-size: 20px;
    margin-right: 15px;
  }

  .content_about h2 {
    text-transform: capitalize;
    font-weight: bold;
    font-family:Merriweather;
    font-size: 30px;
    text-shadow: #49B3FB 2px 6px;
    border-radius: 5px solid;
    text-align: center;
    margin-bottom: 20px;
  }

  .content_about h5 {
    text-transform: capitalize;
    font-weight: bold;
    font-family:Merriweather;
    font-size: 28px;
    text-shadow: #49B3FB 2px 6px;
    border-radius: 5px solid;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .about_container {
   margin: 10px;
   padding: 10px;
  }

  .content_about span {
    text-align: justify;
    font-family: Merriweather;
  }

  .content_about p {
    color: #031126;
    font-size: 16px;
    margin: 30px;
    font-family: Merriweather;
  }

  .about_image_page {
    width: 35%;
    margin: 0 20px 15px 0;
    float:left;
    margin-left: 30px;
    border-radius: 35px;
    border: 3px solid #49B3FB;
    box-shadow:8px 8px 2px 1px #49B3FB;
  }

  .about_image_page_1 {
    width: 35%;
    margin: 10px 10px 10px 10px;
    float:right;
    margin-right: 30px;
    border-radius: 35px;
    border: 3px solid #49B3FB;
    box-shadow:8px 8px 2px 1px #49B3FB;
    
  }

  .button_about {
    margin: 0 auto;
    display: block;
    background: #49B3FB;
    width: 300px;
    height: 90px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 15px;
    border: 3px solid #abecce;
    box-shadow: 10px 10px 1px #49b3fb;
    margin-top: 100px;
  }

  .button_about a:hover {
    color:aquamarine;
}

.button_about a {
    color:#fff;
    text-transform:uppercase;
    text-decoration: none;
    font-size: 24px;
    padding-bottom: 70px;
    line-height: 110%;
    font-family: Merriweather;
}

.gallary_list{
  display: flex;
 justify-content: space-evenly;
}

.gallary_list img {
  width: 250px;
  height: 200px;
  margin-top: 30px;
}


.text_app_container h2 {
  text-transform: capitalize;
    font-weight: bold;
    font-family:Merriweather;
    font-size: 30px;
    text-shadow: #49B3FB 2px 1px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 0;
}

.text_app_container p {
    color: #031126;
    font-size: 16px;
    font-family:Merriweather;
    width: 400px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto
}
  
  .section_reviews_container h1 {
    text-transform: capitalize;
    font-weight: bold;
    font-family: Merriweather;
    font-size: 30px;
    text-shadow: #49B3FB 2px 1px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 16px;
  }

  .section_reviews_container input:hover {
    color:#031126;
  }

  .section_reviews_container p {
    color: #031126;
    font-size: 16px;
    font-family:Merriweather;
    width: 400px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto
  }
  
  .image_reviews {
    display: flex;
    /*justify-content: space-between;*/
    flex-direction:  column-reverse;
    margin-left: 60px;
    margin-bottom: 40px;
    border-radius: 20px 20px 0 0;
    align-items: center;
  }
  
  .box_image_reviews {
    background-color: #E8F9EE;
    box-shadow: 0 10px 10px #49B3FB;
    border-radius: 5px;
    width: 300px;
    height: 80%;
    margin-left: 15px;
    border-radius: 20px;
    margin-bottom: 40px;
    align-items: center;
  }
  
  .box_image_reviews img {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    margin-left: 15px;
  }
  
  .icon_box_review h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    font-family: Merriweather;
  }
  
  .icon_box_review p {
    color: #767679;
    font-size: 12px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 5px;
    width: 250px;
    font-family: Merriweather;
  }
  
  .icon_box_review_2 h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    font-family: Merriweather;
  }
  
  .icon_box_review_2 p {
    color: #767679;
    font-size: 12px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 5px;
    width: 250px;
    font-family: Merriweather;
  }
  
  .icon_box_review_3 h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    font-family: Merriweather;
  }
  
  .icon_box_review_3 p {
    color: #767679;
    font-size: 12px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 5px;
    width: 250px;
    font-family: Merriweather;
  }

  .form_wrapper {
    display: flex;
    flex-direction: column;
  }

  .content_contacts h1 {
   font-size: 40px;
   text-align: center;
  }

  .review_input {
    color:#49B3FB;
    padding:4px;
    border:0;
    box-shadow:0 0 15px 4px #49B3FB;
    height:25px;
    width: 300px; 
    border-radius: 5px;
  }

  .reviews_container textarea {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px #49B3FB;
    border-radius: 5px;
    
  }
  
  .butoon_submit a:hover {
    color: #031126;
  }
  
  .button_submit {
    background-color: #49B3FB;
    color: #fff;
    border: 1px solid;
    border-radius: 15px;
    width: 160px;
    height: 40px;
    
  }
  
  .button_reset {
    background-color: #fff;
    color: #49B3FB;
    border: 1px solid #49B3FB;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    text-transform: capitalize;
    font-family: Merriweather;
  }

.container_content {
  display: flex;

  }

.list_content {
  list-style-type: none;
  padding-left: 100px;
}

.list_content a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
}

.list_content a:hover {
  color: #031126;
}

li a:hover {
  color: #031126;
}

.list_content li {
  background-color: #49B3FB;
  border-radius: 5px;
  width:380px;
  height: 110px;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 20px;
}

.list_content ul {
  margin-left: 200px;

}

.list_class {
  padding-top:20px;
}

.img_doc_class {
  padding-left: 50px;
}

.img_imgclass {
  width:420px;
  height: 300px;
  margin-top: 80px;
  border-radius: 35px;
  border: 3px solid #49B3FB;
  box-shadow:8px 8px 2px 1px #49B3FB;
}

.img_class {
  width: 300px;
}

.img_class_doc {
  margin-bottom: 50px;
  float: left;
  margin: 0 0 5px 5px;
}

.row1_bady h2 {
  text-shadow: #49B3FB 1px 1px;
  font-size: 18px;
  font-family: Merriweather;
  text-align: center;
  width: 100%;
  margin-top: 50px
}

.row1_bady p {
  font-size: 12px;
}

.bnt_class a:hover {
  color: #031126;
}

.bnt_class a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Merriweather;
  font-weight: bold;
  padding-top: 20px;
}

.bnt_class {
 text-align: center;
 margin-bottom: 30px;
 margin-top: 30px; 
}

.section_steps_container {
  margin-bottom: 110px;
}

  .number_section {
    display: flex;
    background-color: #49B3FB;
    width: 950px;
    margin: 0 auto;
    height: 200px;
    border: 3px solid #abecce;
    box-shadow:12px 12px 2px 1px #49B3FB;
    justify-content: space-around;
    border-radius: 20px;
  }
  
  .number_box {
    margin-top: 30px;
  }
  
  .number_box_1 {
    margin-top: 30px;
  }
  
  .number_box_2 {
    margin-top: 30px;
  }
  
  .number_box_3 {
    margin-top: 30px;
  }
  
  .number_box h1 {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    font-family: Merriweather;
  }
  
  .number_box_1 h1 {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    font-family: Merriweather;
  }
  
  .number_box_2 h1 {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    font-family: Merriweather;
  }
  
  .number_box_3 h1 {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    font-family: Merriweather;
  }
  
  .number_box span {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 18px;
    font-family: Merriweather;
    margin-bottom: 50px;
  }
  
  .number_box_1 span {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 18px;
    font-family: Merriweather;
    margin-bottom: 50px;
  }
  
  .number_box_2 span {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 18px;
    font-family: Merriweather;
    margin-bottom: 50px;
  }
  
  .number_box_3 span {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 18px;
    font-family: Merriweather;
    margin-bottom: 50px;
  }

  .footer_container {
    height: 100px;
  }
  
  .content_footer_container p{
    color:#031126;
    text-align: center;
    font-size: 18px;
    font-family:Merriweather;
  }

  .gray_button_app_up {
    background-color: gray;
    border: none;
    color: white;
    margin-left: 10px;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 15px 32px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }



