* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color:#49B3FB;
  }
  
  .container {
    background-color:#E8F9EE;
    width:80%;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .wrap_nav_conteiner {
    background:#dfe7f0;
    border-bottom-style:solid;
    border-bottom-width: 5px;
    border-bottom-color:#49B3FB; 
    height: 100px;
    width:80%;
    display:flex;
    position: fixed;
  }
  
  .nav_container li {
    display: inline;
    list-style-type:none;
  }
  
  .nav_container ul {
    margin-top: 42px;
    margin-left: 33px;
  }
  
  .nav_container a:hover {
    color: #49B3FB;
  }
  
  .nav_container a {
    color: #031126;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav_dental_log {
    margin-left: 80px;
    margin-top: 30px;
  }

  .nav_dental {
    margin: 30px 60px 0 50px;
    display: flex;
  }

  .nav_logo img {
    margin-top: 5px;
  }

  .nav_dental a:hover {
    color: #49B3FB;
  }
  
  .nav_dental a {
    color: #031126;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8px;
    margin-top: 7px;
    
  }

  .nav_button_log:hover{
    background-color: #40d5fa;
    color: white;
  }
  
  .nav_button_log {
    background-color: #49B3FB;
    color: #abecce;
    border: 3px solid #abecce;
    box-shadow: 7px 7px 2px 1px #49B3FB;
    border-radius: 15px;
    width: 80px;
    height: 40px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
  }
  
  .nav_button_log a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav_button_log a:hover {
    color: #031126;
  }

  .nav_button_reg:hover{
    background-color: #40d5fa;
    color: white;
  }
  
  .nav_button_reg {
    background-color: #49B3FB;
    color: #abecce;
    border: 3px solid #abecce;
    box-shadow: 7px 7px 2px 1px #49B3FB;
    border-radius: 15px;
    width: 80px;
    height: 40px;
  }
  
  .nav_button_reg a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav_button_reg a:hover {
    color: #031126;
  }

  .nav_button_home:hover{
    background-color: #40d5fa;
    color: white;
  }

  .nav_button_home {
    background-color: #49B3FB;
    color: #abecce;
    border: 3px solid #abecce;
    box-shadow: 10px 10px 2px 1px #49B3FB;
    border-radius: 15px;
    width: 82px;
    height: 30px;
    padding-top:10px;
    margin-left: 70px;
  }

  .nav_button_home a {
    color:#FFFFFF;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 15px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .nav_button_home a:hover {
    color: #031126;
  }
  
  .nav_general_box {
    display:flex;
    padding-top: 100px;
  }
  
  .nav_general_box a:hover {
    color:#031126;
    text-decoration:underline;
  }
  
  .nav_general_box a {
    color:#49B3FB;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    margin: 30px 15px 30px  30px;
  }
  
  .nav_general_box span {
    color:#031126;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    margin: 30px 15px 30px  0;
  }
  
  .nav_div {
    color:#031126;
    font-size:22px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    margin: 30px 15px 30px  0;
  }
  
  .line_bord_footer {
    border: none;
    background-color: #49B3FB;
    color: #49B3FB;
    height: 5px;
    margin-top: 70px;
  }
  
  .header_container {
    display: flex;
    padding: 0;
  }

  .promo {
    margin-left: 50px;
    margin-top: 110px;
    
  }
  
  .promo h1 {
    color: #031126;
    box-shadow: 10px 10px 2px 1px #49B3FB;
    border-radius: 5px;
    width: 420px;
    font-size: 44px;
    line-height:46px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 90px;
    margin-left: 40px;
    font-weight: 600;
  }
  
  .promo p {
    color: #031126;
    margin-top: 25px;
    margin-left: 40px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: justify;
    width: 420px;
    margin-right: 50px;
  }
  
  .promo_image {
    margin-top: 150px;
  }
  
  .promo_image_1 {
    border-radius: 35px;
    width: 450px;
    height: 450px;
    border: 3px solid #49B3FB;
    box-shadow:8px 8px 2px 1px #49B3FB;
  }
  
  .form_promo {
    margin-top: 40px;
    margin-left: 40px;
  }

  .errors_message {
    text-align: justify;
    background-color: rgb(252, 112, 112);
    box-shadow: 0 12px 12px 0;
    font-size: 18px;
    height: 60px;
    width: 70%;
    border-radius: 20px;
    text-decoration:overline;
    margin-left: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
  }

  .message_success {
    text-align: justify;
    background-color: rgb(100, 202, 126);
    box-shadow: 0 12px 12px 0;
    font-size: 18px;
    height: 60px;
    width: 70%;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 50px;
  }

  .message_success{
    color:#fff;
    font-size: 26px;
    list-style-type: none;
    text-align: center;
    padding-top: 20px;
  }

  .errors_message ul {
    list-style-type: none;
    text-align: center;
  }

  .section_consultation {
    background: #49B3FB;
    border:3px solid #abecce;
    box-shadow:8px 8px 2px 1px #49B3FB;
    border-radius: 20px;
    width: 750px;
    height: 210px;
    margin-left: 150px;
    margin-bottom: 80px;
    margin-top: 70px;
    text-align: center;
  }
  
  .consultation_box h1 {
    color: #fff;
    text-transform: capitalize;
    font-size: 44px;
    margin-top: 20px;
  }
  
  .consultation_box span {
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .button_free:hover {
    box-shadow: 0 20px 20px 0 #abecce;
    background-color: #1494a5;
    color: white;
  }

  .button_free {
    background: #49B3FB;
    color: #fff;
    width: 140px;
    height: 44px;
    font-size: 26px;
    font-weight: 700;
    margin-left: 20px;
    border-radius: 15px;
    border: 1px solid;
    padding-bottom: 2px;
  }
  
  .form_box {
    margin-top: 16px;
  }

  .form_box input {
    min-height: 28px;
    margin-left: 50px;
    padding:3px;
    margin-left: 20px;
    border:0;
    box-shadow:0 0 6px 2px #031126;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #3b93f7; /* Green */
    color: white;
  }

  .button {
    background: #49B3FB;
    width: 300px;
    height: 90px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    border-radius: 15px;
    border: 3px solid #abecce;
    box-shadow: 10px 10px 1px #49B3FB;
    line-height: 70%;
    margin-left: 14px;
  }
  
  .button a:hover {
      color:aquamarine;
  }
  
  .button a {
      color:#fff;
      text-transform:uppercase;
      text-decoration: none;
      font-size: 24px;
      line-height: 110%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .main_container {
    display: flex;
    padding-bottom: 60px;
    padding-left: 75px;
  }
  
  .main_wrap_container {
    margin-left: 100px;
  }
  
  .about_image img {
    border-radius: 35px;
    border: 3px solid #49B3FB;
    box-shadow: 10px 10px 1px #49B3FB;
    margin-left: 20px;
    width: 450px;
    height: 450px;
  }
  
  .about h3 {
    color: #031126;
    box-shadow: 10px 10px 2px 1px #49B3FB;
    border-radius: 5px;
    font-weight: 600;
    width: 300px;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
  }
  
  .about h6 {
    color: #031126;
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 350px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .about_box_content p {
    color: #031126;
    font-size: 12px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 300px;
    text-align: justify;
    margin-bottom: 8px;
  }
  
  .about_box_content h5 {
    color: #031126;
    font-size: 18px;
    margin-bottom: 8px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .box_container {
    width: 50px;
    height: 50px;
    display: inline-flex;
    padding-top: 80px;
  }

  .dental_services_container h1 {
    box-shadow: 10px 10px 2px 1px #49B3FB;
    border-radius: 5px;
    width: 300px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 380px;
  }
  
  .dental_services_container p {
    color:#031126;
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: justify;
    width: 450px;
    margin-top: 1px;
    margin-left: 320px;
    margin-bottom: 40px;
  }
  
  .img-container {
    display: flex;
    height: 100%;
    margin-left: 70px;
  }
  
  .box_1 {
    background: #abecce;
    border: 3px solid #49B3FB;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    vertical-align: middle;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-right: 30px;
  }
  
  .box_2 {
    background: #abecce;
    border: 3px solid #49B3FB;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    vertical-align: middle;
    margin-right: 30px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .box_3 {
    background: #abecce;
    border: 3px solid #49B3FB;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    vertical-align: middle;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .box_1 p {
    color: #767679;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: justify;
  }
  
  .box_2 p {
    color: #767679;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: justify;
  }
  
  .box_3 p {
    color: #767679;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: justify;
  }
  
  .box_1 h2 {
    margin-top: 25px;
    margin-left: 25px;
  }
  
  .box_2 h2 {
    margin-top: 25px;
    margin-left: 25px;
  }
  
  .box_3 h2 {
    margin-top: 25px;
    margin-left: 25px;
  }
  
  .icon_zub {
    width: 60px;
    height: 60px;
    margin-left: 25px;
    margin-top: 25px;
  }
  
  .team_professionals {
    margin-top: 75px;
    margin-bottom: 110px;
  }
  
  .section_team_professionals h1 {
    box-shadow: 10px 10px 2px 1px #49B3FB;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: bold;
    width: 380px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
    margin-left: 330px;
  }
  
  .section_team_professionals p {
    color:#031126;
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 450px;
    text-align: justify;
    margin-top: 1px;
    margin-left: 320px;
    margin-bottom: 40px;
  }
  
  .image_doc {
    display: flex;
    margin-left: 52px;
  }
  
  .box_image_doc {
    background-color: #49B3FB;
    border: 3px solid #abecce;
    box-shadow: 10px 18px 2px 1px #49B3FB;
    width: 300px;
    height: 380px;
    border-radius: 20px;
  }
  
  .box_image_doc_1 {
    background-color: #49B3FB;
    border: 3px solid #abecce;
    box-shadow: 10px 18px 2px 1px #49B3FB;
    width: 300px;
    height: 380px;
    margin-left: 30px;
    border-radius: 20px;
  }
  
  .box_image_doc_2 {
    background-color: #49B3FB;
    border: 3px solid #abecce;
    box-shadow: 10px 18px 2px 1px #49B3FB;
    width: 300px;
    height: 380px;
    margin-left: 30px;
    border-radius: 20px;
  }
  
  .box_image_doc img {
    background-color: #49B3FB;
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0 0;
  }
  
  .box_image_doc_1 img {
    background-color: #49B3FB;
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0 0;
  }
  
  .box_image_doc_2 img {
    background-color: #49B3FB;
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0 0;
  }
  
  .icon_box img {
    display: inline;
    width: 40px;
    height: 40px;
  }
  
  .icon_box h2 a {
    color:#031126;
    font-size: 22px;
    font-weight: 600;
    margin-left: 70px;
    margin-top: 10px;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .icon_box p {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 90px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .icon_box_2 img {
    width: 40px;
    height: 40px;
  }
  
  .icon_box_2 h2 a {
    color:#031126;
    font-size: 22px;
    font-weight: 600;
    margin-left: 90px;
    margin-top: 10px;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .icon_box_2 p {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-left:105px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .icon_box_3 img {
    width: 40px;
    height: 40px;
  }
  
  .icon_box_3 h2 a{
    color:#031126;
    font-size: 22px;
    font-weight: 600;
    margin-left: 70px;
    margin-top: 10px;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .icon_box_3 p {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 115px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .image_steps_box img {
    float: right;
    margin: 0 0 5px 5px;
    border: 3px solid #49B3FB;
    box-shadow: 8px 8px 2px 1px #49B3FB;
    width: 400px;
    height: 400px;
    border-radius: 35px;
    margin-right: 130px;
  }

  .header_steps_container {
    margin-top: 80px;
  }

  .header_steps_container h3 {
    box-shadow: 10px 10px 2px 1px #49B3FB;
    border-radius: 5px;
    color: #031126;
    text-transform: capitalize;
    font-size: 30px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 170px;
    margin-left: 150px;
  }
  
  .header_steps_container h6 {
    color:#031126;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 350px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 150px;
  }

  .content_steps_box {
    text-align:left;
  }
  
  .content_steps_box h5 {
    color: #031126;
    font-size: 18px;
    text-transform: capitalize;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-left: 150px;
    margin-top: 10px;
  }
  
  .content_steps_box p {
    color:#031126;
    font-size: 14px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: normal;
    width: 300px;
    text-align: justify;
    margin-left: 185px;
    margin-top: 10px;
  }
  
  .content_steps_box span {
    color:#031126;
    font-size: 20px;
    margin-right: 15px;
  }
  
  .section_reviews_container h1 {
    text-transform: capitalize;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 30px;
    box-shadow: 10px 10px 2px 1px #49B3FB;
    border-radius: 5px;
    width: 400px;
    margin-left: 320px;
    margin-bottom: 16px;
  }

  .section_reviews_container input:hover {
    color:#031126;
  }

  .section_reviews_container p {
    color: #031126;
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: normal;
    width: 450px;
    text-align: justify;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto
  }
  
  .image_reviews {
    display: flex;
    margin-left: 60px;
    margin-bottom: 40px;
    border-radius: 20px 20px 0 0;
  }
  
  .box_image_reviews {
    background-color: #E8F9EE;
    box-shadow: 0 10px 10px #49B3FB;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    margin-left: 15px;
    border-radius: 20px;
  }
  
  .box_image_reviews img {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    margin-left: 15px;
  }
  
  .icon_box_review h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .icon_box_review p {
    color: #767679;
    font-size: 12px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 5px;
    width: 250px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .icon_box_review_2 h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .icon_box_review_2 p {
    color: #767679;
    font-size: 12px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 5px;
    width: 250px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .icon_box_review_3 h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .icon_box_review_3 p {
    color: #767679;
    font-size: 12px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 5px;
    width: 250px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .add_review {
    text-align: center;
    margin-bottom: 35px;
  }

  .reviews_container textarea {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px #49B3FB;
  }
  
  .butoon_submit a:hover {
    color: #031126;
  }
  
  .button_submit {
    background-color: #49B3FB;
    color: #fff;
    border: 1px solid;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    
  }
  
  .button_reset {
    background-color: #fff;
    color: #49B3FB;
    border: 1px solid #49B3FB;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
  }

  .number_section {
    display: flex;
    background-color: #49B3FB;
    width: 800px;
    margin: 0 auto;
    margin-top: 80px;
    height: 200px;
    border: 3px solid #abecce;
    box-shadow:12px 12px 2px 1px #49B3FB;
    justify-content: space-around;
    border-radius: 20px;
  }
  
  .number_box {
    margin-top: 50px;
  }
  
  .number_box_1 {
    margin-top: 50px;
  }
  
  .number_box_2 {
    margin-top: 50px;
  }
  
  .number_box_3 {
    margin-top: 50px;
  }
  
  .number_box h1 {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .number_box_1 h1 {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .number_box_2 h1 {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .number_box_3 h1 {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .number_box span {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 18px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
  }
  
  .number_box_1 span {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 18px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
  }
  
  .number_box_2 span {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 18px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
  }
  
  .number_box_3 span {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 18px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
  }

  .footer_container {
    max-width: 1280px;
    margin: 0 auto;
    height: 100px;
  }
  
  .content_footer_container {
    color:#031126;
    text-align: center;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .content_footer_container p {
    padding-top: 40px;
    font-weight: 500;
  }
  